<section class="contact-section bg-primary" id="contact">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="section-title mb-3 text-white">Lets get in touch!</h2>
                <p class="lead mb-5 text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has
                    been the industry's standard dummy text ever since the 1500s.</p>
            </div>
        </div>
            <!-- <div class="col-lg-4 col-md-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3"></i>
                <p class="lead">+92 300 3746590</p>
                <a class="d-block lead" href="#">kaleemshahid20@gmail.com</a>
            </div>
            <div class="col-lg-4 col-md-4 ml-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3"></i>
                <a class="d-block lead text-white" href="#">kaleemshahid20@gmail.com</a>
            </div> -->
            <div class="container contact-form-container">
                <div class="row">
                <div class="col-md-4">
                    <h2 class="contact-form-title">Find Us</h2><hr/>
                    <h4 class="contact-form-title">Address</h4>
                    <h6 class="contact-form-text">Johar Town, Lahore</h6>
                    <h4 class="contact-form-title">Phone</h4>
                    <p class="contact-form-text">+(92)-321-7584637</p>
                    <h4 class="contact-form-title">Email</h4>
                    <p class="contact-form-text">desksolutions@gmail.com</p>
                    
                </div>
                <div class="col-md-8">
                    <h2 class="contact-form-title">Contact Us</h2><hr/>
                    <div class="alert alert-success" id="contact-success-msg">Thanks! We have received your email, we'll be sure to reply as soon as possible</div>
                    <form method="POST" action="" id="contact_form_id" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <!-- <label class="org-label" for="id_title">Title</label> -->

                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                  {{ contact_form.contact_email }}

                                </div>
                                <span class="text-danger error-span" id="error-{{contact_form.contact_email.html_name}}"></span>
                            </div>
                            <div class="col">
                                <!-- <label class="org-label" for="id_url">Organization URL</label> -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                        <i class="fa fa-link"></i>
                                        </span>
                                    </div>
                                        {{ contact_form.contact_name }}
                                </div>
                                <span class="text-danger error-span" id="error-{{contact_form.contact_name.html_name}}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-pencil"></i>
                                    </span>
                                </div>
                                    {{ contact_form.contact_message }}
                            </div>
                            <span class="text-danger error-span" id="error-{{contact_form.contact_message.html_name}}"></span>
                        </div>
                        <input class="btn btn-warning pull-right" type="submit" value="Send Message" name="message">
                    </form> 
                </div>

            </div>
        </div>
    </div>
</section>
<div class="loading-bar"></div>