{% load static %}
<div class="container">
<nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand text-white" href="page-top">DeskSolutions</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-white">
                <li class="nav-item">
                    <a class="nav-link" href="#page-top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#organizations">Organizations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>

                <li class="nav-item signup">
                    <a style="font-weight: 300;" class="nav-link nav-btn text-white" href="{% url 'signup:organization-register' %}">Sign Up</a>
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item login">
                    <a style="font-weight: 300;" class="nav-link nav-btn text-white" href="{% url 'admin:index' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>