{% extends 'desksolutionsbase/ext_links.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'desksolutionsbase/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'desksolutionsbase/css/signup.css' %}">
{% endblock %}
{% block content %}


<header class="signup-showcase">
    <div class="col-md-2">
        <a href="{% url 'signup:home' %}"><img class="logo img" width="auto" height="100" src="{% static 'desksolutionsbase/img/desklogo.png' %}"></a>
    </div>
    <div class="container box col-md-10">
    <h2 class="letstart" >Let's start!</h2>

    
        <ul class="nav nav-tabs">
            <li class="nav-item nav-tab">
                <a class="nav-link active_tab1" style="border: 1px solid #ccc" id="organizationformlink">Organization Signup</a>
            </li>
            <li class="nav-item nav-tab" style="margin-left: 3px;">
                <a class="nav-link inactive_tab1" style="border: 1px solid #ccc" id="userformlink">User Signup</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: 16px">
            <div class="tab-pane active" id="orgtab">
                <div class="container form-container">
                    <form method="POST" action="" id="signup-form" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <!-- {% for field in register_form %}
                            <p style="font-weight: lighter;">{{ field.label_tag }}</p>
                            <p class="org-field">{{ field }}</p>

                            {% for error in field.errors %}
                                <p style=" color: rgba(255, 0, 0, 0.664);">{{error}}</p>
                            {% endfor %}
                            <span class="text-danger error-span" id="error-{{field.html_name}}"></span>
                        {% endfor %} -->
                        <div class="form-row">
                            <div class="col">
                                <label class="org-label" for="id_title">Title</label>

                                <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                  {{ register_form.title }}

                                </div>
                                <span class="text-danger error-span" id="error-{{register_form.title.html_name}}"></span>
                            </div>
                            <div class="col">
                                <label class="org-label" for="id_url">Organization URL</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                        <i class="fa fa-link"></i>
                                        </span>
                                    </div>
                                        {{ register_form.url }}
                                </div>
                                <span class="text-danger error-span" id="error-{{register_form.url.html_name}}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="org-label" for="id_description">Description</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-pencil"></i>
                                    </span>
                                </div>
                                    {{ register_form.description }}
                            </div>
                            <span class="text-danger error-span" id="error-{{register_form.description.html_name}}"></span>
                        </div>
                        <div class="form-group">
                            <label class="org-label" for="id_org_address">Address</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-book"></i>
                                    </span>
                                </div>
                                    {{ register_form.org_address }}
                            </div>
                            <span class="text-danger error-span" id="error-{{register_form.org_address.html_name}}"></span>
                        </div>
                        <div class="form-group">
                            <label class="org-label" for="id_city">City</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-book"></i>
                                    </span>
                                </div>
                                    {{ register_form.city }}
                            </div>

                            {{map|safe}}
                            <span class="text-danger error-span" id="error-{{register_form.city.html_name}}"></span>
                        </div>
                        <div class="form-group">
                            <label class="org-label" for="id_logo">Logo</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                    <i class="fa fa-image"></i>
                                    </span>
                                </div>
                                    {{ register_form.logo }}
                            </div>
                            <span class="text-danger error-span" id="error-{{register_form.logo.html_name}}"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                        <input class="btn btn-info" type="submit" name="signup" value="Sign Up">
                        <!-- <div class="">
                            <button class="btn btn-primary btn-lg" type="button" name="btn_to_user_signup" id="next">Next</button>
                        </div> -->
                        
                        <p>Already a member? <a href="{% url 'admin:login' %}">Login</a></p>
                        </div>
                     </form>
                    </div>
                    <hr/>
                <div class="container bg-primary form-container">
                    <h2 class="letstart">Lookup form</h2>
                    <p>Left your registeration midway? Search for your added organization to proceed further...</p>
                    <form action="" method="POST" id="lookup_form" novalidate>

                        {% csrf_token %}
                        <div class="form-group">
                            {{ lookup_form.organization_name }}
                            <span style="color:rgb(238, 242, 245)" class="text-danger error-span" id="error-lookup"></span>
                        </div>
                        <input type="submit" class="btn btn-warning" value="Lookup">
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="usertab">
                {{ request.session.name  }}

                <form method="POST" action="" id="register-form" enctype="multipart/form-data"
                novalidate>
                {% csrf_token %}
            
                <div class="form-row">
                    <div class="col">
                        <label class="org-label" for="id_first_name">First Name</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                                <i class="fa fa-user"></i>
                                </span>
                            </div>
                                {{ user_form.first_name }}
                        </div>
                        <span class="text-danger error-span" id="error-{{user_form.first_name.html_name}}"></span>
                    </div>
                    <div class="col">
                        <label class="org-label" for="id_last_name">Last Name</label>
                        {{ user_form.last_name }}
                        <span class="text-danger error-span" id="error-{{user_form.last_name.html_name}}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="org-label" for="id_email">Email</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                            <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                            {{ user_form.email }}
                    </div>
                    <span class="text-danger error-span" id="error-{{user_form.email.html_name}}"></span>
                </div>
                <div class="form-group">
                    <label class="org-label" for="id_phone">Phone</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                            <i class="fa fa-phone"></i>
                            </span>
                        </div>
                            {{ user_form.phone }}
                    </div>
                    <span class="text-danger error-span" id="error-{{user_form.phone.html_name}}"></span>
                </div>
                <div class="form-group">
                    <label class="org-label" for="id_address">Address</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                            <i class="fa fa-book"></i>
                            </span>
                        </div>
                            {{ user_form.address }}
                    </div>
                    <span class="text-danger error-span" id="error-{{user_form.address.html_name}}"></span>
                </div>
                <div class="form-group">
                    <label class="org-label" for="id_password1">Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                            <i class="fa fa-key"></i>
                            </span>
                        </div>
                            {{ user_form.password1 }}
                    </div>
                    <span class="text-danger error-span" id="error-{{user_form.password1.html_name}}"></span>
                </div>
                <div class="form-group">
                    <label class="org-label" for="id_password2">Confirm Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent" style="border: none" id="basic-addon1">
                            <i class="fa fa-key"></i>
                            </span>
                        </div>
                            {{ user_form.password2 }}
                    </div>
                    <span class="text-danger error-span" id="error-{{user_form.password2.html_name}}"></span>
                </div>
            
                <input class="btn btn-info" type="submit" name="register" value="Sign Up">
            </form>
            </div>
        </div> 
    </div>
</header>
<div class="loading-bar"></div>
{% endblock %}
{% block script %}
    <script src="{% static 'desksolutionsbase/js/setup.js' %}"></script>
{% endblock %}
