{% extends 'desksolutionsbase/ext_links.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<header class="jobs-showcase">
  <div class="col-md-12">
      <a href="{% url 'signup:home' %}"><img class="logo img" width="auto" height="100" src="{% static 'desksolutionsbase/img/desklogo.png' %}"></a>
    
  </div>
  <h2 class="text-center job-msg">Welome to DeskSolutions Job Portal</h2>

    <div class="container jobs-box col-md-8">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 company-name-box text-white">
          <p class="">You are browsing jobs for <span class="company-name">{{orgs.title}}</span></p>
        </div>
      </div>
        {% for job in jobs %}
        <div class="row">
            <div class="container" style="border-bottom: 1px solid grey">
              <div id="success-application" class="alert alert-success">Your applicant has been submitted for review. Please wait for response</div>
              <div class="container col-md-12 d-flex justify-content-between">
                <p style="margin-top: 20px;">Position: <span style="font-weight: 600;">{{job.title}}</span></p>
                <button id="modal_open_btn" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{job.pk}}">
                  <!-- <a class="fa fa-pencil text-white" href="#test{{job.pk}}">{{job.pk}}</a> -->
                  Apply for this job
                </button>
              </div><hr/>
              <div class="container">
                <p class="">{{job.responsibility | safe}}</p>
              </div>
            </div>
            

              <div class="modal fade" id="modal-{{job.pk}}" data-role="upButton" job_id="test{{job.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Job Opportunity for <span style="font-weight: lighter;">{{job.title}}</span></h5>
                      <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body form-modal">
                        <form method="POST" action="" class="application-upload" enctype="multipart/form-data" id="app_form_id" novalidate>
                            {% csrf_token %}
                            {% for field in application_form %}
                            <div class="form-field">
                            <p style="font-weight: bolder;">{{field.label_tag}}</p>
                            {{field}}
                            <span class="application_form_error" style="color: rgb(219, 80, 80);" id="form-{{field.html_name}}-error"></span>
                            </div>
                            {% endfor %}

                            <!-- <div class="form-group">
                              <label for="candidate_email">{{application_form.candidate_email.label_tag}}</label>
                              {{application_form.candidate_email}}
                              
                            </div> -->
                            <input type="hidden" name="app_id" value="{{job.pk}}">
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Apply" name="submit" class="btn btn-primary" id="submit-application-btn">
                      </form>
                      <!-- <div class="alert alert-danger alert-dismissable app_form_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="app_form_error"></span>
                      </div> -->
                      <!-- <button style="border: 1px solid black" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        {% endfor %}
    </div>
</header>

{% endblock %}