{% extends 'desksolutionsbase/ext_links.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% include "desksolutionsbase/navbar.html" %}

<header class="showcase d-flex align-items-center" style="border: 1px solid black">
    {{orgs.title}}
    <div class="container">
      
        {% for job in jobs %}
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-5" style="border: 1px solid black">
                <p>{{job.title}}</p>
                <p>{{job.id}}</p>
                <p>{{job.responsibility}}</p>
            </div>
      
            <button id="modal_open_btn" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{job.pk}}">
                <!-- <a class="fa fa-pencil text-white" href="#test{{job.pk}}">{{job.pk}}</a> -->
                Apply for this job
              </button>

              <div class="modal fade" id="modal-{{job.pk}}" data-role="upButton" job_id="test{{job.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Job Opportunity for <span style="font-weight: lighter;">{{job.title}}</span></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body form-modal">
                        <form method="POST" action="" class="application-upload" enctype="multipart/form-data" id="app_form_id" novalidate>
                            {% csrf_token %}
                            {% for field in application_form %}
                            <div class="form-field">
                            <p style="font-weight: lighter;">{{field.label_tag}}</p>
                            {{field}}
                            <span class="application_form_error" style="color: rgb(219, 80, 80);" id="form-{{field.html_name}}-error"></span>
                            </div>
                            {% endfor %}

                            <!-- <div class="form-group">
                              <label for="candidate_email">{{application_form.candidate_email.label_tag}}</label>
                              {{application_form.candidate_email}}
                              
                            </div> -->
                            <input type="hidden" name="app_id" value="{{job.pk}}">
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Apply" name="submit" class="btn btn-primary">
                      </form>
                      <div class="alert alert-danger alert-dismissable app_form_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="app_form_error"></span>
                      </div>
                      <!-- <button style="border: 1px solid black" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        {% endfor %}
    </div>
</header>



<!-- <script>
  $(document).ready(function(){
    // $("#job.pk").on('click', function(){
    //   alert("Asdad")
    //   // $(".application").hide()
    // })
  $("[data-role=application]").hide()
  $('[data-role=upButton]').click(function(){
    var post_id = $(this).attr('job_id');
    var app_id = $("[data-role=application]").attr('app_id');
    alert(app_id)
    $(app_id).show()
  });
  
    
    
  })
</script> -->
{% endblock %}