{% extends 'desksolutionsbase/ext_links.html' %}
{% load static %}
{% block content %}

<header class="signup-showcase">
    <img class="logo" style="border: 1px solid black; display: inline;" src="{% static 'desksolutionsbase/img/desklogo.png' %}">

    <div class="container box col-md-12">
    <h2 style="align-content: center;">Register your organization</h2>
    
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active_tab1" style="border: 1px solid #ccc" id="organizationformlink">Organization Signup</a>
            </li>
            <li class="nav-item" style="margin-left: 3px;">
                <a class="nav-link inactive_tab1" style="border: 1px solid #ccc" id="userformlink">User Signup</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: 16px">
            <div class="tab-pane active" id="orgtab">
                <div class="card">
                    <div class="card-header">Organization Form Setup</div>
                <div class="card-body">
                    <form method="POST" action="" id="signup-form" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <!-- {% for field in register_form %}
                            <p style="font-weight: lighter;">{{ field.label_tag }}</p>
                            <p class="org-field">{{ field }}</p>

                            {% for error in field.errors %}
                                <p style=" color: rgba(255, 0, 0, 0.664);">{{error}}</p>
                            {% endfor %}
                            <span class="text-danger error-span" id="error-{{field.html_name}}"></span>
                        {% endfor %} -->
                        <div class="form-row">
                            <div class="col">
                                {{ register_form.title.label_tag }}
                                {{ register_form.title }}
                                <span class="text-danger error-span" id="error-{{register_form.title.html_name}}"></span>
                            </div>
                            <div class="col">
                                {{ register_form.url.label_tag }}
                                {{ register_form.url }}
                                <span class="text-danger error-span" id="error-{{register_form.url.html_name}}"></span>
                            </div>
                            <div class="col">
                                {{ register_form.logo.label_tag }}
                                {{ register_form.logo }}
                                <span class="text-danger error-span" id="error-{{register_form.logo.html_name}}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ register_form.description.label_tag }}
                            {{ register_form.description }}
                            <span class="text-danger error-span" id="error-{{register_form.description.html_name}}"></span>
                        </div>
                        <div class="form-group">
                            {{ register_form.address.label_tag }}
                            {{ register_form.address }}
                            <span class="text-danger error-span" id="error-{{register_form.address.html_name}}"></span>
                        </div>

                        <input class="btn btn-info" type="submit" name="signup" value="Sign Up">
                        <div class="">
                            <button class="btn btn-primary btn-lg" type="button" name="btn_to_user_signup" id="next">Next</button>
                        </div>
                     </form>
                </div>
            </div>

            </div>
            <div class="tab-pane" id="usertab">
                <form method="POST" action="" id="register-form" enctype="multipart/form-data"
                novalidate>
                {% csrf_token %}

                {% for field in user_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}

                </p>
                {% endfor %}
                <!-- {{user_form.as_p}}
                {{profile_form.as_p}} -->

                <input type="submit" name="register" value="Sign Up">
                <div class="">
                    <button class="btn btn-primary btn-lg" type="button" name="btn_to_org_signup" id="previous">Previous</button>
                </div>
            </form>
            </div>
        </div> 
    </div>
</header>


{% endblock %}
