.signup-showcase{
    position: absolute;
    width: 100%;
    background: url("../img/signupcover.png")no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.letstart{
    text-align: center;
    padding: 30px
}

.box{
    width:700px;
    margin: 0 auto;
    box-shadow: 0 0.2rem 5rem rgba(0,0,0,0.15);
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 60px;
}

/* .active_tab1{
    background-color: #9966CC;
    color: #fff;
    font-weight: 600;
} */
.inactive_tab1{
    background-color: #f5f5f5;
    color: #333;
    cursor: not-allowed;
}

.org-label{
    font-weight: bolder;
}

.has_error{
    border-color: #cc0000;
}

.nav-item.nav-tab{
    width: 40%
}

.input-text {
    display: block;
    width: 100%;
    border-radius: 0%;
    border-width: 0 0 1px 0;
    font-size: 18px;
    /* line-height: 26px; */
    font-weight: 400;
    margin-bottom: 20px;
}

.form-container{
    margin-top: 30px;
}

.input-text:focus {
    outline: none;
}

.logo{
    margin-left: 20px
}

.bg-primary.form-container{
    padding: 20px;
    border-radius: 10px;
}

.bg-primary.form-container p{
    color: #fff;
    font-weight: lighter;
    padding-bottom: 10px;
}

.bg-primary.form-container h2{
    color: #fff;
    font-weight: bolder;
}

